aiobotocore==3.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-retry==2.9.1
aioitertools==0.13.0
aiosignal==1.4.0
altair==6.0.0
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.1
appdirs==1.4.4
argcomplete==3.6.3
asttokens==3.0.1
asyncssh==2.22.0
atpublic==7.0.0
attrs==25.4.0
auto-mix-prep==0.2.0
babel==2.17.0
backrefs==6.1
billiard==4.2.4
boolean-py==5.0
botocore==1.42.19
bracex==2.6
cachecontrol==0.14.4
celery==5.6.2
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
commitizen==4.11.6
configobj==5.0.9
coverage==7.13.1
cryptography==46.0.3
cyclonedx-python-lib==11.6.0
decli==0.6.3
defusedxml==0.7.1
deprecated==1.3.1
dictdiffer==0.9.0
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
docutils==0.22.4
dpath==2.2.0
duckdb==1.4.3
dulwich==0.25.2
dvc==3.66.1
dvc-data==3.18.2
dvc-http==2.32.0
dvc-objects==5.2.0
dvc-render==1.0.2
dvc-s3==3.3.0
dvc-studio-client==0.22.0
dvc-task==0.40.2
entrypoints==0.4
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.3
flatten-dict==0.4.2
flufl-lock==9.0.0
frozenlist==1.8.0
fsspec==2026.1.0
funcy==2.0
genai-prices==0.0.51
ghp-import==2.1.0
gitdb==4.0.12
gitpython==3.1.46
grandalf==0.8
griffe==1.15.0
gto==1.9.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
hydra-core==1.3.2
icecream==2.1.9
identify==2.6.16
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
iterative-telemetry==0.0.10
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
kombu==5.6.2
license-expression==30.4.4
logfire-api==4.19.0
loguru==0.7.3
marimo==0.19.4
markdown==3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-get-deps==0.2.0
mkdocs-include-markdown-plugin==7.2.0
mkdocs-material==9.7.1
mkdocs-material-extensions==1.3.1
mkdocstrings==1.0.0
mkdocstrings-python==2.0.1
msgpack==1.1.2
msgspec==0.20.0
multidict==6.7.0
narwhals==2.15.0
nbformat==5.10.4
networkx==3.6.1
nodeenv==1.10.0
omegaconf==2.3.0
openai==2.15.0
opentelemetry-api==1.39.1
orjson==3.11.5 ; implementation_name == 'cpython'
packageurl-python==0.17.6
packaging==25.0
paginate==0.5.7
parso==0.8.5
pathspec==0.12.1
pip==25.3
pip-api==0.0.34
pip-audit==2.10.0
pip-requirements-parser==32.0.1
platformdirs==4.5.1
pluggy==1.6.0
polars==1.37.1
polars-runtime-32==1.37.1
pre-commit==4.5.1
prompt-toolkit==3.0.51
propcache==0.4.1
psutil==7.2.1
py-serializable==2.1.0
pyarrow==22.0.0
pycparser==2.23 ; implementation_name != 'PyPy'
pydantic==2.12.5
pydantic-ai-slim==1.44.0
pydantic-core==2.41.5
pydantic-graph==1.44.0
pydantic-settings==2.12.0
pydot==4.0.1
pydub==0.25.1
pygit2==1.19.1
pygments==2.19.2
pygtrie==2.5.0
pymdown-extensions==10.20
pyparsing==3.3.1
pytest==9.0.2
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pywin32==311 ; sys_platform == 'win32'
pyyaml==6.0.3
pyyaml-env-tag==1.1
pyzmq==27.1.0
questionary==2.1.1
referencing==0.37.0
regex==2026.1.15
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
ruamel-yaml==0.19.1
ruff==0.14.13
s3fs==2026.1.0
scmrepo==3.6.1
semver==3.0.4
setuptools==80.9.0
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.8.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sqlglot==28.6.0
sqlglotrs==0.11.0
sqltrie==0.11.2
starlette==0.51.0
tabulate==0.9.0
termcolor==3.3.0
tiktoken==0.12.0
tomli==2.4.0
tomli-w==1.2.0
tomlkit==0.14.0
tqdm==4.67.1
traitlets==5.14.3
ty==0.0.12
typer==0.21.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uv==0.9.26
uvicorn==0.40.0
vine==5.1.0
virtualenv==20.36.1
voluptuous==0.16.0
watchdog==6.0.0
wcmatch==10.1
wcwidth==0.2.14
websockets==16.0
win32-setctime==1.2.0 ; sys_platform == 'win32'
wrapt==2.0.1
yarl==1.22.0
zc-lockfile==4.0
zipp==3.23.0
