annotated-types==0.7.0
colorama==0.4.6 ; sys_platform == 'win32'
loguru==0.7.3
pydantic==2.12.3
pydantic-core==2.41.4
pydantic-settings==2.11.0
python-dotenv==1.2.1
typing-extensions==4.15.0
typing-inspection==0.4.2
win32-setctime==1.2.0 ; sys_platform == 'win32'
